<?xml version="1.0" encoding="utf-8"?>

<!--

From http://msdn.microsoft.com/en-us/library/bb458038.aspx

-->

<?define VisualStudioRegistryRoot = "Software\Microsoft\VisualStudio\9.0" ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='*' Name='ReviewBoardVsxPackage' Language='1033'
           Version='0.1.0.1' Manufacturer='reviewboard.org' UpgradeCode='533D18FC-E377-45A2-B2F3-18D25DEB3983'>

    <Package InstallerVersion='300' Compressed='yes' InstallPrivileges="elevated" Platform="x86" Languages="1033" />

    <Media Id='1' Cabinet='ReviewBoardVsx.cab' EmbedCab='yes' CompressionLevel='high'/>

    <!-- Properties -->
    <Property Id="DEVENV_EXE_PATH">
      <RegistrySearch Id="RegSearch_DevenvExe_Path" Root="HKLM" Key="$(var.VisualStudioRegistryRoot)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>

    <!-- Launch conditions -->
    <Condition Message="An administrator must approve or install [ProductName]."> Privileged </Condition>
    <Condition Message="[ProductName] requires Visual Studio 2010."> DEVENV_EXE_PATH </Condition>

    <!-- Root directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id="INSTALLDIR" Name="MyFolder" >

          <Component Id="MainExecutable" Guid="7D6D266D-4197-439b-ADB4-D51876269055">
            <File Id="ReviewBoardVsx.dll" Name="ReviewBoardVsx.dll" Source="..\bin\Debug\ReviewBoardVsx.dll" Vital="yes" DiskId="1" />
            <!--<?include ReviewBoardVsxFragment.wxs ?>-->
          </Component>
          
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="CA_ReviewBoardVsxPackage" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <CustomAction Id="CA_ReviewBoardVsxPackage" Property="DEVENV_EXE_PATH" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />

  </Product>
</Wix>